@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

:root {
  --remotion-font: "Manrope", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --base-size: 38px;
}

.audio-viz {
  display: flex;
  flex-direction: row;
  height: calc(var(--base-size) * 3);
  align-items: center;
  justify-content: center;
  gap: calc(var(--base-size) * 0.35);
}

.bar {
  border-radius: calc(var(--base-size) * 0.15);
  width: calc(var(--base-size) * 0.15);
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: white;
  background-position: center;
  background-size: cover;
  padding: 68px;
  font-family: var(--remotion-font);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.row {
  display: flex;
  align-items: center;
  gap: 24px;
}

.cover {
  width: 160px;
  height: 160px;
  border-radius: 8px;
  z-index: 1;
  object-fit: cover;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: 0px;
  /* align-items: center; */
  width: 650px;
}

.title {
  line-height: 57px;
  font-weight: 600;
  color: rgba(55, 65, 81, 1);
  font-size: 40px;
  text-align: left;
  letter-spacing: -0.64px;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-block: 0px;
}

.title-caption {
  color: rgba(255, 255, 255);
  letter-spacing: -0.64px;
  font-size: 32px;
  font-weight: 500;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-block: 0px;
}

.captions {
  font-size: calc(var(--base-size) * 1.4);
  font-weight: 600;
  height: 400px;
  letter-spacing: -0.8px;
}

.promo-container {
  width: 100%;
  height: 100%;
  background-color: rgba(55, 65, 81, 1);
  font-family: var(--remotion-font);
}

.promo-composition {
  position: absolute;
  left: calc(var(--base-size) * 9);
  top: calc(var(--base-size) * -5);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: calc(var(--base-size) * 0.75);
  overflow: hidden;
}

.free-template {
  width: calc(var(--base-size) * 16);
  left: calc(var(--base-size) * 0.75);
  font-size: calc(var(--base-size) * 1.5);
  line-height: calc(var(--base-size) * 2);
  font-weight: 800;
  filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03))
    drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));
  left: calc(var(--base-size) * 0.75);
  top: calc(var(--base-size) * 0.25);
  position: absolute;
  color: rgba(107, 114, 128, 1);
}

.description {
  color: rgba(107, 114, 128, 1);
  line-height: 1;
  font-weight: normal;
  font-size: var(--base-size);
  filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03))
    drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));
  width: calc(var(--base-size) * 13);
  left: calc(var(--base-size) * 0.75);
  top: calc(var(--base-size) * 2.5);
  position: absolute;
}

.tagline {
  font-weight: 800;
  font-size: calc(var(--base-size) * 2.25);
  line-height: calc(var(--base-size) * 2.5);
  color: rgba(251, 191, 36, 1);
  filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03))
    drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));
  width: calc(var(--base-size) * 16);
  position: absolute;
  top: calc(var(--base-size) * 7);
  left: calc(var(--base-size) * 0.75);
}
