@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

:root {
  --remotion-font: "Manrope", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --base-size: 38px;
}

.audio-viz {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 20px;
}

.bar {
  border-radius: calc(var(--base-size) * 0.15);
  width: calc(var(--base-size) * 0.15);
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: white;
  background-position: center;
  background-size: cover;
  padding: 80px;
  font-family: var(--remotion-font);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.row {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-bottom: 64px;
}

.cover {
  width: 160px;
  height: 160px;
  border-radius: 8px;
  z-index: 1;
  object-fit: cover;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: 0px;
  /* align-items: center; */
}

.title {
  line-height: 57px;
  font-weight: 600;
  color: rgba(55, 65, 81, 1);
  font-size: 40px;
  text-align: left;
  opacity: 0.95;
  letter-spacing: -0.64px;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-block: 0px;
}

.title-caption {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: -0.64px;
  font-size: 32px;
  font-weight: 500;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-block: 0px;
}

.captions {
  font-size: calc(var(--base-size) * 1.4);
  font-weight: 500;
  height: 1200px;
  letter-spacing: -0.8px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 91px 64px;
  border-radius: 24px;
  background: rgba(117, 117, 117, 0.3);
  overflow: hidden;
  height: 100%;
}
